@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Tajawal:wght@700&display=swap');

.decks-container {
    width: 100%;
    height: 100%;
    min-width: 1020px;
}

.decks {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.deck-container { 
    width: 204px;
    min-width: 204px;
    height: 100%;
    padding-left: 30px;

}

.single {
    display: flex;
}

.deck {
    color: white;
    margin: auto;
}

.deck-top {
    display: flex;
    justify-content: space-between;
    width: 204px;
    top: 0;
    align-items: center;
    font-family: 'Pirata One';
}

button {
    border: none;
    background-color: transparent;
    color: white;
}
button :hover {
    background-color: chocolate;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.card {
    position: absolute;
    height: 133px;
    width: 204px;
    margin-top: 50px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 512px;
    height: 100vh;
    left: -512px;
    color: white;
    z-index: 9;
}

.sidemenu-bg {
    position: fixed;
    z-index: -1;
    width: 512px;
    height: 100vh;
}

.sidemenu-bg img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}


.sidemenu.open {
    left: 0;
}

.togglemenu {
    position: absolute;
    width: 90%;
    top: 0;
    padding: 10px;
    text-align: right;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    height: 5em;
    padding: 5px;
    width: 90%;
    margin: 0;
}

.icons {
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.icons.clicked {
    background-color: chocolate;
}

.icons img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.close-sidemenu {
    position: absolute;
    left: 512px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.perk-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
    padding: 10px;
}

.perks {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    width: 90%;
    height: 95%;
    color: black;
    border-radius: 25px;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: 'Tajawal', sans-serif;
}

.perks div {
    display: flex;
    flex-direction: row-reverse;
    padding-block: 3px;
    justify-content: left;
    align-items: center;
}


.hero-select-container {
    height: 5vh;
}

.hero-select {
    display: flex;
}

.hero-select select {
    border-radius: 15px 0 0 0;
}

.deck-add-bttn {
    padding: 10px;
    background-color: black;
    border-radius: 0 0 15px 0;
    
}
.deck-add-bttn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



.hero-remover-container {
    height: 2vh;
}

.hero-remover-container button {
    color: black;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.hero-remover-container button:hover {
    color: black;
    background-color: chocolate;
    cursor: pointer;
}

.side-button-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    left: 0;
    justify-content: center;
}

.sidebttn {
    display: flex;
    position: fixed;
    top: 10px;
}

.scrolltohero {
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 133, 89, 0.3);

    padding-block: 5px;
    border-radius: 0 15px 15px 0;
    text-align: center;
    
}

.show-all {
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 15px;
    padding: 5px;
}

.show-all:hover {
    background-color: chocolate;  
}

.scrolltohero .icons {
    border-radius: 15px;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.scrolltohero .icons:hover {
    background-color: chocolate;
}

@media screen and (max-width: 512px) {
    .sidemenu {
        width: 100vw;
    }
}

@media screen and (max-height: 700px) {
    .icons-container{
        height: 3em;
    }
}

@media screen and (max-width: 1020px) {
    .decks-container {
        display: none;
    }
    .side-button-container {
        display: flex;
    }

    .show-all {
        display: none;
    }
}


